{{#with this}}
    <span class='modal-ingredient__close'>&times;</span>
    <div class='modal-ingredient__title-wrapper'>
        <h3 class='modal-ingredient__name'>{{strIngredient}}</h3>
        <p class='modal-ingredient__type'>{{strType}}</p>
    </div>
    <div class='modal-ingredient__info-wrapper'>
        <p class='modal-ingredient__description'>{{strDescription}}</p>
        <p class='modal-ingredient__list'>Cocktail with that ingredient:</p>
    </div>
    <div class='modal-ingredient__button-wrapper'>
        <button class='modal-ingredient__add-favourite' id='strIngredient{{idIngredient}}'>Add to favourite</button>
    </div>
{{/with}}