{{#with this}}
    <span class='modal-ingredient__close'>&times;</span>
    <h3 class="modal-ingredient__name">{{strIngredient}}</h3>
    <p class="modal-ingredient__type">{{strType}}</p>
	
    <p class="modal-ingredient__description">{{strDescription}}</p>
{{/with}}
