html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--poppins-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--main-color);
    background-color: var(--main-white-color);
    fill: var(--main-color);
    margin: 0;
    transition: fill var(--general-transition-effect);
}
body._lock {
    overflow: hidden;
}

ul,
ol,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
h2 {
    font-weight: var(--poppins-font-weight-600);
    font-size: 22px;
    line-height: 42px;
    text-align: center;
    text-align: center;
    margin-bottom: 30px;

    @media screen and (min-width: $tablet) {
        font-weight: var(--poppins-font-weight-700);
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 60px;
    }
    @media screen and (min-width: $desktop) {
        font-size: 48px;
        line-height: 72px;
    }
}
button {
    color: inherit;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    height: auto;
    max-width: 100%;
}
a {
    outline: none;
    text-decoration: none;
}
input {
    outline: none;
}
section {
    padding: 30px 0;

    @media screen and (min-width: $tablet) {
        padding: 45px 0;
    }
    @media screen and (min-width: $desktop) {
        padding: 60px 0;
    }
}

.container {
    max-width: 480px;
    margin: 0 auto;
    padding: 0 20px;

    @media screen and (min-width: $tablet) {
        max-width: 768px;
        padding: 0 32px;
    }
    @media screen and (min-width: $desktop) {
        max-width: 1280px;
        padding: 0 16px;
    }
}

.flex-container {
    display: flex;
}

.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background: #fd510366;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #fd5103cc;
}
