<header class="header container">
    <div class="header__wrapper">
        <div class="header__wrapper-navigation">
            <nav class="header__navbar">
                <a class="header__navbar-logo" href="index.html">Cocktails</a>
                <a class="header__navbar-link" href="index.html">Home</a>
                <a class="header__navbar-link" href="index.html">Favourite</a>
            </nav>
            <div class="header__test">
                <form class="header__search-form" id="header__search-form">
                    <button class="header__search-form-button" type="submit">
                        <svg width="24" height="24">
                            <use href="./images/icon/bx_search.svg"></use>
                        </svg>
                    </button>
                    <input
                        class="header__search-form-input"
                        type="text"
                        autocomplete="off"
                        placeholder="Search..."
                    />
                </form>
                <div class="header__switch">
                    <span>Light</span>
                    <div class="header__switch-wrapper">
                        <input
                            class="header__switch-input"
                            id="check"
                            type="checkbox"
                        />
                        <label for="check" class="header__switch-label"></label>
                    </div>
                    <span>Dark</span>
                </div>
            </div>
        </div>
    </div>
</header>
