<section class="hero container">
    <svg width="21" height="19">
        <use href="./images/icon/spite.svg#icon-heart"></use>
    </svg>
    <div class="hero__wrapper">
        <div class="hero__content-wrapper">
            <h1 class="hero__title">A party without cocktails is not like a party</h1>
            <p class="hero__subtitle">Search your favorite cocktail by ABC</p>
            <ul class="alphabet-list"></ul>
        </div>
        <div class="hero__image-wrapper">
            <picture>
                <source
                    srcset="
                        ./images/hero/delicious-sangria-cocktail-held-in-hand-1280.png    1x,
                        ./images/hero/delicious-sangria-cocktail-held-in-hand-1280@2x.png 2x
                    "
                    media="(min-width: 1280px)"
                />
                <source
                    srcset="
                        ./images/hero/delicious-sangria-cocktail-held-in-hand-768.png    1x,
                        ./images/hero/delicious-sangria-cocktail-held-in-hand-768@2x.png 2x
                    "
                    media="(min-width: 768px)"
                />
                <source
                    srcset="
                        ./images/hero/delicious-sangria-cocktail-held-in-hand-480.png    1x,
                        ./images/hero/delicious-sangria-cocktail-held-in-hand-480@2x.png 2x
                    "
                    media="(max-width: 767.98px)"
                />
                <img
                    src="./images/hero/delicious-sangria-cocktail-held-in-hand-480.png"
                    alt="Bakering donuts"
                    class="hero__image"
                />
            </picture>
        </div>
    </div>
    <!-- <select class="select-value" id="size" name="size">
    <option value="A">A</option>
	<option value="B">B</option>
	<option value="C">C</option>
	<option value="D">D</option>
	<option value="E">E</option>
	<option value="F">F</option>
	<option value="G">G</option>
	<option value="H">H</option>
	<option value="I">I</option>
	<option value="J">J</option>
	<option value="K">K</option>
	<option value="L">L</option>
	<option value="M">M</option>
	<option value="N">N</option>
	<option value="O">O</option>
	<option value="P">P</option>
	<option value="Q">Q</option>
	<option value="R">R</option>
	<option value="S">S</option>
	<option value="T">T</option>
	<option value="U">U</option>
	<option value="V">V</option>
	<option value="W">W</option>
	<option value="X">X</option>
	<option value="Y">Y</option>
	<option value="Z">Z</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<option value="9">9</option>
	<option value="0">0</option>
</select> -->
</section>
