<section class="hero hero__section">
    <div class="hero__container container">
        <div class="hero__wrapper">
            <h1 class="hero__title">A party without cocktails is not like a party</h1>
            <div class="hero__image-wrapper">
                <picture>
                    <source srcset="./images/hero/background-1200.png 1x, ./images/hero/background-1200@2x.png 2x" media="(min-width: 1280px)" />
                    <source srcset="./images/hero/background-768.png 1x, ./images/hero/background-768@2x.png 2x" media="(min-width: 768px)" />
                    <source srcset="./images/hero/background-480.png 1x, ./images/hero/background-480@2x.png 2x" media="(max-width: 767.98px)" />
                    <img src="./images/hero/background-480.png" alt="Bakering donuts" class="hero__image" />
                </picture>
            </div>
            <p class="hero__subtitle">Search your favourite cocktail by ABC</p>
            <ul class="alphabet-list"></ul>
            <details class="alphabet-select">
                <summary class="alphabet-select__current">Select</summary>
                <ul class="alphabet-select__list"></ul>
            </details>
        </div>
    </div>
</section>
