.cards {
	padding: 60px 0 60px 0;
}
.cards__title {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 72px;
	text-align: center;
	color: inherit;
	text-align: center;
	margin-bottom: 60px;
}

.menu-list {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
}
.menu-list__item {
	flex-basis: calc((100% - (32px * 2)) / 3);
	border: 1px solid var(--accent-text-color);
	border-radius: 4px;
	display: flex;
	flex-direction: column;
}
.menu-list__image-wrapper {
	margin-bottom: 20px;
}
.menu-list__image {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.menu-list-content-wrapper {
	padding: 0 28px 28px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1 0 auto;
}
.menu-list__name {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	font-size: 32px;
	line-height: 38px;
	text-align: center;
	color: inherit;
	margin-bottom: 27px;
}
.menu-list__buttons-wrapper {
	display: flex;
	justify-content: space-between;
}
.menu-list__lookup {
	background-color: var(--accent-button-color);
	border-radius: 4px;
	border: none;
	padding: 12px 38px;
	outline: 1px solid var(--accent-button-color);
	cursor: pointer;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: var(--main-white-color);

	transition: color var(--general-transition-effect), background-color var(--general-transition-effect),
		outline var(--general-transition-effect), filter var(--general-transition-effect);
}
.menu-list__lookup:hover,
.menu-list__lookup:focus {
	background-color: var(--main-white-color);
	color: var(--accent-text-color);
	outline: none;
	filter: none;
}
.menu-list__lookup:active {
	background-color: var(--accent-text-color);
	color: var(--main-white-color);
}
.menu-list__add {
	background-color: transparent;
	border-radius: 4px;
	border: none;
	outline: 2px solid var(--accent-text-color);
	padding: 12px 22px;
	display: flex;
	align-items: center;
	cursor: pointer;

	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: var(--accent-text-color);

	transition: background-color var(--general-transition-effect);
}
.menu-list__add:hover,
.menu-list__add:focus {
	background-color: var(--main-white-color);
}
.menu-list__add-icon {
	width: 21px;
	height: 19px;
	margin-left: 5px;
}

.error-wrapper {
	display: flex;
	justify-content: center;
}
.title-error {
	max-width: 600px;
	margin: 0 auto 60px;
}
