.header {
	padding: 20px 16px;

	&__wrapper {
		// display: flex;
		align-items: center;
		// justify-content: space-between;
	}
	&__wrapper-navigation {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__navbar {
		display: flex;
		gap: 60px;
	}
	&__navbar-link {
		font-family: "Poppins";
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 0.02em;
		color: inherit;
		padding: 19px 0 0 0;

		transition: color var(--general-transition-effect);
	}
	&__navbar-link:hover,
	&__navbar-link:focus {
		color: var(--accent-text-color);
	}
	&__search-form {
		display: flex;
		border: 1px solid var(--accent-text-color);
		border-radius: 4px;
	}
	&__search-form-button {
		background-color: transparent;
		border: none;
		width: 39px;
		height: 39px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-right: 1px solid var(--accent-text-color);
		cursor: pointer;
	}
	&__search-form-input {
		border: none;
		background-color: transparent;

		font-family: "Poppins";
		font-size: 14px;
		line-height: 24px;

		letter-spacing: 0.02em;
		color: inherit;
		margin-left: 10px;
	}
	&__search-form-icon {
		width: 24px;
		height: 24px;
	}
}

.header__switch {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-left: 170px;
}
.header__switch-wrapper {
	display: flex;
	align-items: center;
}
.header__switch-input {
	opacity: 0;
	width: 0;
	height: 0;
}
.header__switch-label {
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.header__switch-input + .header__switch-label::before {
	content: "";
	width: 40px;
	height: 20px;
	background-color: var(--main-white-color);
	border-radius: 10px;
	outline: 2px solid var(--accent-text-color);
	transition: var(--general-transition-effect);
}

.header__switch-input:checked + .header__switch-label::before {
	background-color: var(--accent-text-color);
	outline: 2px solid var(--main-white-color);
}

.header__switch-input + .header__switch-label::after {
	position: absolute;
	left: 2px;
	content: "";
	width: 16px;
	height: 16px;
	background-color: var(--accent-text-color);
	border-radius: 8px;
	transition: var(--general-transition-effect);
}

.header__switch-input:checked + .header__switch-label::after {
	left: 21px;
	background-color: var(--main-white-color);
}

.header__switch-input:checked + .header__switch-dark {
	background-color: var(--accent-text-color);
}

.header__switch-light {
	color: var(--accent-text-color);
}
.header__switch-light.dark {
	color: inherit;
}
.header__switch-dark {
	color: inherit;
}
.header__switch-dark.dark {
	color: var(--accent-text-color);
}

.header__test {
	display: flex;
}
