.hero {
	padding: 80px 0 60px 0;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		gap: 60px;
	}
	&__title {
		font-family: "Poppins";
		font-style: normal;
		font-weight: 600;
		font-size: 52px;
		line-height: 80px;
		color: #fd5103;
		margin-bottom: 40px;
		max-width: 690px;
	}
	&__subtitle {
		font-family: "Poppins";
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 28px;
		letter-spacing: 0.02em;
		color: inherit;
		opacity: 0.8;
		margin-bottom: 40px;
	}
}

.alphabet-list {
	display: flex;
	flex-wrap: wrap;
	max-width: 520px;
	justify-content: center;
}
.letter {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: transparent;
	border: none;
	// font-family: "Poppins";
	// font-style: normal;
	// font-weight: 700;
	// font-size: 24px;
	// line-height: 36px;

	// color: #5f6775;
	// cursor: pointer;
}

.letter-button {
	background-color: transparent;
	border: none;

	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;

	color: #5f6775;

	transition: color var(--general-transition-effect), outline var(--general-transition-effect),
		text-shadow var(--general-transition-effect);
}

.letter:hover .letter-button,
.letter:focus .letter-button {
	outline: none;
	color: #fd5103;
	-webkit-text-stroke: 1px #5f6775;
	// text-shadow: -1px 0px 0px #5f6775, 1px 0px 0px #5f6775, 0px -1px 0px #5f6775, 0px 1px 0px #5f6775;
	text-shadow: 0px 4px 4px rgba(95, 103, 117, 0.25);
}
