.fav-ingredient__item {
	flex-basis: calc((100% - (32px * 2)) / 3);
	border: 1px solid #fd5103;
}
.fav-ingredient__content-wrapper {
	padding: 30px 28px 26px;
	display: flex;
	flex-direction: column;
	gap: 28px;
}
.fav-ingredient__name {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	font-size: 32px;
	line-height: 38px;
	color: inherit;
}
.fav-ingredient__type {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: #5f6775;
}
.fav-ingredient__button-wrapper {
	display: flex;
	justify-content: space-between;
}
.fav-ingredient__learn {
	background-color: #fe7031;
	border-radius: 4px;
	border: none;
	padding: 12px 38px;
	outline: 1px solid #fe7031;
	cursor: pointer;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #ffffff;

	transition: background-color var(--general-transition-effect), color var(--general-transition-effect),
		outline var(--general-transition-effect), filter var(--general-transition-effect);
}
.fav-ingredient__learn:hover,
.fav-ingredient__learn:focus {
	background-color: #f5f5f5;
	color: #fd5103;
	outline: none;
	filter: none;
}
.fav-ingredient__learn:active {
	background-color: #fd5103;
	color: #ffffff;
}

.fav-ingredient__remove {
	background-color: transparent;
	border-radius: 4px;
	border: none;
	outline: 2px solid #fd5103;
	padding: 12px 22px;
	display: flex;
	align-items: center;
	cursor: pointer;

	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #fd5103;

	transition: background-color var(--general-transition-effect);
}
.fav-ingredient__remove:hover,
.fav-ingredient__remove:focus {
	background-color: #f5f5f5;
}
.fav-ingredient__remove-icon {
	width: 21px;
	height: 19px;
	margin-left: 5px;
}
