/* The Modal (background) */
.modal-ingredient {
	display: block; /* Hidden by default */
	opacity: 0;
	visibility: hidden;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

	transition: all var(--general-transition-effect);
}

/* Modal Content/Box */
.modal-ingredient__info {
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	max-width: 715px;
	width: 100%;
	transform: translate(-50%, -50%);
	background-color: var(--main-white-color);
	display: flex;
	flex-direction: column;
	padding: 0 28px 28px 28px;
}
.modal-ingredient__info.dark {
	background-color: var(--main-color);
}

/* The Close Button */
.modal-ingredient__close {
	position: absolute;
	content: "";
	top: 12px;
	right: 12px;
	fill: inherit;
	transition: fill var(--general-transition-effect);
}

.modal-ingredient__close:hover,
.modal-ingredient__close:focus {
	cursor: pointer;
	fill: var(--accent-text-color);
}

.modal-ingredient__name {
	font-family: "Roboto";
	font-weight: 900;
	font-size: 32px;
	line-height: 38px;
	color: inherit;
	margin-bottom: 28px;
}

.modal-ingredient__type {
	font-family: "Poppins";
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: inherit;
}

.modal-ingredient__title-wrapper {
	// margin-bottom: 68px;
	padding: 40px 0;
	margin-bottom: 28px;
	border-bottom: 1px solid var(--accent-text-color);
}

.modal-ingredient__info-wrapper {
	margin-bottom: 28px;
}

.modal-ingredient__description {
	font-family: "Poppins";
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	color: var(--alternative-text-color);

	max-height: 110px;
	overflow: auto;
	margin-bottom: 28px;
}

.modal-ingredient__list {
	font-family: "Poppins";
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: var(--main-color);
}

.modal-ingredient__button-wrapper {
	display: flex;
	justify-content: flex-end;
	padding: 0 28px;
}

.modal-ingredient__add-favourite {
	background-color: var(--accent-text-color);
	border-radius: 4px;
	padding: 12px 24px;
	border: none;

	font-family: "Roboto";
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: var(--main-white-color);
	cursor: pointer;
}
